@import "./reset";
@import "./variables";
@import "./themes/light";
@import "./themes/dark";
@import "./themes/blue";
@import "./themes/orange";

html,
body,
#root,
.app {
  background-color: var(--bg-color);
  color: var(--text-color);
  height: 100vh;
  width: 100%;
  position: relative;
}

.content {
  display: flex;
  height: calc(100vh -var(--navbar-height));
}

.page-wrapper {
  flex-grow: 1;
}
