// .textWrapper {
// }
.title {
  font: var(--font-l);
}

.text {
  font: var(--font-m);
}

.normal {
  color: var(--text-color);
}

.inverted {
  color: var(--inverted-text-color);
}

.error {
  color: var(--red-dark);
}

.center {
  text-align: center;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}
