.appButton {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  padding: 0;
  margin: 0;

  &:not([disabled]):hover {
    opacity: var(--opacity70);
  }
}

.clear {
  color: var(--text-color);
}

.clear-inverted {
  color: var(--inverted-text-color);
}

.outline {
  color: var(--text-color);
  border: 2px solid var(--text-color);
  padding: 5px 10px;
  border-radius: var(--b-raduis-s);
}

.outline-inverted {
  color: var(--inverted-text-color);
  border: 2px solid var(--inverted-text-color);
  padding: 5px 10px;
  border-radius: var(--b-raduis-s);
}

.filled {
  background-color: var(--inverted-bg-color);
  color: var(--inverted-text-color);
  padding: 10px 15px;
}

.filled-inverted {
  background-color: var(--inverted-text-color);
  padding: 10px 15px;
}

.disabled {
  opacity: var(--opacity50);
  cursor: auto;
}
