 .Button {
   cursor: pointer;
 }

 .clear {
   margin: 0;
   padding: 0;
   background: none;
   outline: none;
   border: none
 }

 .filled {
   padding: 6px 12px;
   background: var(--text-color-accent);
   color: var(--text-color-secondary);
 }