.AppImage {
  border-radius: 50%;
  position: relative;
  z-index: 1;
}

.AppImage:after {
  content: "";
  position: absolute;
  z-index: 0;
  top: 0;
  right: 0;
  /* Heading / H2 Header */
  background: linear-gradient(rgb(231, 15, 170), rgb(19, 176, 245));
  border-radius: 50%;
}

.normal {
  width: 200px;
  height: 200px;
}


.normal:after {
  width: 204px;
  height: 204px;
}

.round {
  border-radius: 50%;
}

.block {
  position: relative;
}

.block:after {
  content: "";
  position: absolute;
  z-index: 0;
  top: 0;
  right: 0;
  /* Heading / H2 Header */
  background: linear-gradient(rgb(231, 15, 170), rgb(19, 176, 245));
  border-radius: 50%;
}