.wrapper {
  position: relative;
}

.wrapper:after {
  position: absolute;
  content: "";
  z-index: 1;
  top: 0;
  right: 0;
  background: linear-gradient(rgb(231, 15, 170), rgb(19, 176, 245));
  border-radius: 50%;
}

.AppImage {
  position: absolute;
  z-index: 1;         
}

.normal {
  width: 200px;
  height: 200px;
}

.round {
  border-radius: 50%;
}