.app_dark_theme {


  --bg-color: #1c1c1c;
  --bg-color-dark: #929292;
  --bg-color-light: #363636;
  --inverted-bg-color: #fff;
  
  --text-color-primary: #eee;
  --text-color-secondary: #fff;
  --text-color-accent: #4b4d80;
}