.app_dark_theme {


  --bg-color: #191919;
  --bg-color-dark: #929292;
  --bg-color-light: #363636;

  --accent-color: #d7ffe0;
  --text-color: #cccccc;
  --text-color-not-accented: #a7a7a7;
  --gradient: linear-gradient(90.00deg, rgb(19, 176, 245), rgb(231, 15, 170));

}