.app_light_theme {
  --bg-color: #fff;
  --bg-color-dark: #a9a9a9;
  --bg-color-light: #f1f1f1;
  --inverted-bg-color: #1c1c1c;
  ;

  --text-color-primary: #383838;
  --text-color-secondary: #000;
  --text-color-accent: #42446e;
}