.app_orange_theme {
  /*--bg-color: #faf4fb;*/
  /*--inverted-bg-color: #bd5012;*/
  /*--primary-color: #9a1a0e;*/
  /*--secondary-color: #d01f0e;*/
  /*--inverted-primary-color: #dbd5dc;*/
  /*--inverted-secondary-color: #faf4fb;*/

  /*redesigned*/
  --bg-color: #f0c048;
  --inverted-bg-color: #bd5012;
  --dark-bg-color: #fff3d6;
  --light-bg-color: #f2d791;
  --text-color: #1b1311;
  --inverted-text-color: #f0c048;
  --hint-color: #b8b2a2;
  --cancel-color: #ff5e5e;
  --save-color: #52fa81;
  --icon-color: #4875f0;
  --accent-color: #1d59ff;

  /*skeleton*/
  --skeleton-color: #fff;
  --skeleton-shadow: rgba(0 0 0 / 20%);

  /*code block*/
  --code-bg: #fff;

  /*card*/
  --card-bg: #d5d5d7;

  /*listBox*/
  --list-bg: #d5d5d7;
}
