.profileCard {
  padding: 20px;
  border: 2px solid var(--inverted-bg-color);
  max-width: 90%;
  margin: 30px auto 0;
}



.data {
  margin-top: 30px;
}

.input {
  margin-top: 10px;
}

.error,
.loading {
  display: flex;
  align-items: center;
  justify-content: center;
}
